:root {
	--color-lightest: #eaf9e7;
	--color-light: #c0e6ba;
	--color-medium: #4ca771;
	--color-dark: #013237;
	--color-text: #3f3f3f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
}

/* global styles  */
aside {
	padding: 1.5rem;
}

aside li {
	padding: 1rem;
	border-radius: 0.7rem;
	margin-bottom: 0.6rem;
	box-shadow: 0 3px 6px rgb(0 0 0 / 0%), 0 3px 6px rgb(0 0 0 / 15%);
	transition: 0.2s;
}

aside li:hover {
	background-color: var(--color-lightest);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 700;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
	color: var(--color-text);
}

/* NAVBAR */
.navbar {
	padding: 1rem 2rem;
	background-color: var(--color-dark);
	box-shadow: 0 10px 20px rgb(0 0 0 / 0), 0 6px 6px rgb(0 0 0 / 22%);
}
.navbar ul {
	display: flex;
}
.navbar ul li {
	padding-right: 2rem;
}
.navbar ul li:first-of-type {
	padding-right: 5rem;
}
.navbar ul li a {
	color: white;
}

/* START HOMEPAGE */
.home-container {
	display: grid;
	grid-template-columns: 2fr 4fr;
	height: 100%;
}

.field-container {
	display: flex;
	justify-content: center;
	background: var(--color-medium);
	padding-top: 4rem;
}

.title-section {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}

.title-section svg {
	height: 1.5rem;
	margin-left: 0.6rem;
	cursor: pointer;
}

.dropdown input[type='checkbox'] {
	display: none;
}

.dropdown article {
	display: none;
	position: absolute;
	padding: 1rem;
	width: 12rem;
	background: white;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	z-index: 2;
}

input[type='checkbox']:checked ~ article {
	display: block;
}

.soccer-field {
	background-image: url('../img/soccer_field.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 43.5rem;
	width: 56rem;

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 1fr);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.soccer-field div {
	width: 100%;
	color: white;
	padding: 1rem 2rem;
	display: flex;
	justify-content: center;
	max-height: 8rem;
}
.col-span-12 {
	grid-column: span 12;
}
.col-span-4 {
	grid-column: span 4;
}
.col-span-3 {
	grid-column: span 3;
}
.grid-start-6 {
	grid-column-start: 6;
}

.person-card-list {
	padding-bottom: 3rem;
	position: relative;
	height: 82vh;
	overflow: auto;
}

#drop-here {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 3px solid var(--color-dark);
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 2rem;
	font-weight: 700;
}

#drop-here.hidden {
	display: none;
}

.field-position .draggable-card p {
	display: none;
}

.field-position .draggable-card h4 {
	color: white;
}

.draggable-card ~ .position-name {
	display: none;
}

.draggable-card,
.draggable-card a {
	cursor: all-scroll;
}

.position-name {
	background: linear-gradient(
		0deg,
		rgba(234, 249, 231, 1) 0%,
		rgba(192, 230, 186, 1) 100%
	);
	padding: 0.5rem 1rem;
	color: var(--color-dark);
	border-radius: 0.7rem;
	align-self: center;
	font-weight: 600;
}

.person-card-outer {
	display: flex;
	align-items: center;
}

.person-card-outer span {
	background-color: var(--color-medium);
	padding: 0.7rem;
	border-radius: 50%;
	color: white;
}

.person-card-outer div {
	padding-left: 1rem;
}

.active-filter-badges {
	display: flex;
	padding: 1rem 0;
}

.active-filter-badges p {
	background: var(--color-medium);
	padding: 0.6rem 1rem;
	font-size: 0.6rem;
	border-radius: 0.9rem;
	color: white;
	font-weight: 700;
	margin-right: 0.3rem;
}

/* END HOMEPAGE */

.title {
	margin-bottom: 2rem;
}

.hidden {
	display: none;
}

.icon {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 27px;
	right: 5px;
	pointer-events: none;
	z-index: 2;
}

.icon.icon-success {
	fill: green;
}

.icon.icon-error {
	fill: red;
}

.container {
	padding: 3rem;
	border-radius: 0.25rem;
	background-color: white;
}

.label {
	font-weight: bold;
	display: block;
	color: #333;
	margin-bottom: 0.25rem;
	color: #2d3748;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.input {
	appearance: none;
	display: block;
	width: 100%;
	color: #2d3748;
	border: 1px solid #cbd5e0;
	line-height: 1.25;
	background-color: white;
	padding: 0.65rem 0.75rem;
	border-radius: 0.25rem;
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.input::placeholder {
	color: #a0aec0;
}

.input.input-error {
	border: 1px solid red;
}

.input.input-error:focus {
	border: 1px solid red;
}

.input:focus {
	outline: none;
	border: 1px solid #a0aec0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	background-clip: padding-box;
}

.input-group {
	margin-bottom: 2rem;
	position: relative;
}

.error-message {
	font-size: 0.85rem;
	color: red;
}

.button {
	background: grey;
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.25rem;
	color: white;
	font-weight: bold;
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	filter: brightness(110%);
}

#add-person-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.image-container {
	background-image: url('../img/soccer-ball.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 95vh;
}
